body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; 
  }
  
  .hero {
    background-image: url("path/to/your/hero-image.jpg"); 
    background-size: cover;
    background-position: center;
    height: 400px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0); 
  }
  
  .hero-content {
    padding: 50px;
    border: 4px solid#ffb9f7;
    border-radius: 5px;
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: white;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 20px;
    position: relative;
  }
  .card-grid::after { 
    content: "";
    display: block;
    width: 1px;
    height: 88%;
    background-color: hotpink;
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
  }
  
  .class-card {
    background-color: #5b5b5b;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%; /* Adjust card width as needed */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    transition: transform 0.3s; /* Smooth hover effect */
  }
  
  .class-card h2 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .class-card p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .class-card a {
    background-color: #ffb9f7; /* Orange button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from link */
    transition: background-color 0.3s;
  }
  
  .class-card a:hover {
    background-color: #ffb9f7; /* Darker orange on hover */
    transform: scale(1.02); /* Slight zoom on hover */
  }

  .video-section-1 img {
    width: 240px;
    align-items: center;
    padding: 65px;
  }
 .modal-content {
    background-color: #ffb9f7;
    color: rgb(255, 255, 255);
    margin: 5% auto;
    padding: 30px;
    padding-right: 335px;
    padding-left: 335px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

footer {
  background-color: #ffb9f7;
  color: white;
  text-align: center;
  padding: 1px
}


